body {
    font-family: sans-serif;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
}

.validationError {
    background: pink;
    color: red;
    font-weight: bold;
    padding: 0.2em;
    border-radius: 0.2em;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #333;
        color: #bbb;
    }

    a {
        background: #333;
        color: #6af;
    }

    img {
        opacity: .75;
        transition: opacity .5s ease-out;
    }

    img:hover {
        opacity: 1;
    }

    .validationError {
        background: #454120;
        color: #B0AFAD;
    }
}