<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" href="styles.css" th:href="@{/styles.css}"/>
</head>
<body>
<h1>Login</h1>
<form method="post" th:action="@{/authenticate}" id="loginForm">

    <div th:if="${error}">
            <span class="validationError">
           Unable to login. Check your username and password.
            </span>
    </div>

    <p>
        <label for="username">username:</label>
        <input type="text" name="username" id="username" autocomplete="username"/>
    </p>
    <p>
        <label for="password">password:</label>
        <input type="password" name="password" id="password" autocomplete="current-password"/>
    </p>

    <p>
        <button type="submit">Login</button> | <a th:href="@{/register}">Register</a>
    </p>
</form>

</body>
</html>
